name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  security-events: write

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # 1️⃣ CodeQL
    - name: Init CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: python

    - name: Run CodeQL
      uses: github/codeql-action/analyze@v3

    # 2️⃣ Bandit
    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit
      run: bandit -r api --severity-level high

    # 3️⃣ Dependency Scan
    - name: Install Safety
      run: pip install safety

    - name: Dependency vulnerability scan
      run: safety check -r requirements.txt

    # 4️⃣ Docker Build
    - name: Build Docker image
      run: docker build -t devsecops-api .

    # 5️⃣ Trivy
    - name: Trivy Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: devsecops-api
        severity: CRITICAL,HIGH
        exit-code: 1
